@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Razor Pages Client</h1>
    <h4>About</h4>
    <p>This project serves as an example for integrating with Core Services. The "CoreServices" folder is where our NSwag generated client code and configuration are placed.</p>
    
    <h4>Using API Client</h4>
    <p>Set the baseUrl property in the Client constructor of the generated CoreServices class:</p>
    <p class="alert">

    </p>

    <h4>Configuration</h4>
    <p>To use the correct services endpoint update the settings here:</p>

    <h4>NSwag</h4>
</div>
