@page
@model RazorPages.Pages.Accounts.CreateModel
@{
    ViewData["Title"] = "Create";
}

@if (Model.CreateAccountResponse == null)
{
    <h1>Create Account</h1>

    <form method="post">


        <label>Name:</label>
        <input class="form form-control" type="text" asp-for="@Model.NewAccount.Name" />

        <label>Email:</label>
        <input class="form form-control" type="text" asp-for="@Model.NewAccount.Email" />

        <hr />

        <a href="/Accounts" class="btn btn-success">Cancel</a>
        <button asp-page-handler="Post" class="btn btn-primary">Submit</button>
        <button asp-page-handler="Clear" class="btn btn-default">Clear</button>
    </form>
}
else if (Model.CreateAccountResponse != null && Model.CreateAccountResponse.IsSuccess == false)
{
    <div class="alert alert-danger">
        @Model.CreateAccountResponse.Message
    </div>
}
else
{
    <div class="alert alert-success">
        Account created!
    </div>

    <a href="/Accounts" class="btn btn-primary">Back to list</a>
    <a href="/Create" class="btn btn-success">Create another</a>
}



